/* justify-content: space-between но логотип не по центру */
.header {
    display: grid;
    grid-template-columns: 445px 148px 159px 300px;
    height: 105px;
    width: 1052px;
    margin: 96px 24px;
    justify-items: center;
    align-items: center;
    /*display: flex;
    width: 1052px;
    height: 105px;
    margin: 92px 24px;
    align-items: center;
    justify-content: space-between;*/
}
/*
.header-logo {
    
}
*/
/* как выровнять логотип по центру? */
.header__logo-image {
    width: 129px;
    height: 105px;
    align-self: center;
}

.header__menu {
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.13px;
    text-align: left;
}

.header__menu-list {
    display: flex;
    gap: 32px;
    margin-left: 26px;
}
/*
.header__menu-item {
    
}
*/
.header__menu-item_active {
    list-style: none;
}

.header__menu-link {
    list-style: circle;
    text-decoration: underline;
}

.address {
    font-style: normal;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.3px;
    text-align: left;
    text-decoration: none;
    justify-content: flex-end;
}
/*
.header__address {

}
*/
/* на макете картинка немного по-другому обрезана, но не понимаю, как это исправить */
.cover {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 1100px;
    height: 757px;
    background-image: url(./../images/cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

/* явные проблемы из-за позиционирования. Не могу разобраться с position родителя у карточек */
.overlay {
    display: flex;
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 0;
}

/* все параметры текста я взяла из фигмы, но визуально, мне кажется, текст от макета отличается */
.cover__title {
    /*display: block;*/
    margin: 140px 50px;
    font-family: Raleway;
    font-size: 100px;
    font-weight: 700;
    line-height: 100px;
    color: #FFFFFF;
    z-index: 1;
    text-transform: uppercase;
}

.aligned-text {
    display: block;
    padding-top: 25px;
}

.aligned-text_center {
    text-align: center;
    padding-left: 10px;
}

.aligned-text_right {
    text-align: right;
}

.letter-spacing-extended {
    letter-spacing: 0.3em;
}

/* не поняла, для чего нужен этот селектор, и как его применить 
.no-letter-spacing {

}
*/
.cover__description {
    display: flex;
}

.cover__description-text {
    display: flex;
    font-family: Raleway;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
    word-spacing: 22px;
    color: #FFFFFF;
    padding-left: 78px;
    padding-bottom: 78px;
    z-index: 1;

}

/* как расположить кнопку по центру текста? */
.bet-button {
    font-family: Raleway;
    font-size: 22px;
    font-weight: 500;
    line-height: 25.83px;
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    width: 256px;
    height: 51px;
    margin-left: 794px;
    color: #FFFFFF;
    display: flex;
    position: absolute;
    z-index: 1;
    justify-content: center;
    align-items: center;
}

.lots {
    display: flex;
    flex-direction: column;
    margin-top: 179px;
    margin-left: 24px;
    margin-right: 24px;
}

.lots__heading {
    font-family: Raleway;
    font-size: 40px;
    font-weight: 700;
    line-height: 46.96px;
    color: #000000;
    margin-left: 40px;
    margin-bottom: 29px;
    text-transform: uppercase;
}

.lots__card-list {
    list-style: none;
    display: flex;
}

.lots__card-list-item {
    flex-grow: 1;
}

.card-link {
    font-family: Raleway;
    font-size: 22px;
    font-weight: 700;
    line-height: 26.4px;
    text-align: left;
    color: #FFFFFF;
    padding-bottom: 55px;
}

.card {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 334px;
    height: 563px;
    justify-content: space-between;
}

.card_type_film {
    background-image: url(./../images/card-lot-01.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    z-index: -1;
}

.card_type_book {
    background-image: url(./../images/card-lot-02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.card_type_picture {
    background-image: url(./../images/card-lot-03.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.card__title {
    font-family: Raleway;
    font-size: 22px;
    font-weight: 700;
    line-height: 26.4px;
    text-align: left;
    text-transform: uppercase;
    text-decoration: underline;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
}

/* как сместить текст к нижнему краю?*/
.card__text {
    font-family: Raleway;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color:#FFFFFF;
    margin: 0 40px 40px 40px;
}

.lots__look-more-link {
    font-family: Raleway;
    font-size: 20px;
    font-weight: 400;
    line-height: 23.48px;
    text-align: left;
    color: #000000;
    text-decoration: underline;
    margin-left: 30px;
    margin-top: 29px;
}

.about {
    display: grid;
    grid-template-columns: 334px 693px;
    gap: 25px;
    margin-top: 180px;
    margin-left: 24px;
    margin-right: 24px;
    justify-items: center;
}
/*
.about__column {
    
}
*/
/* как разместить кружок по центру колонки?*/
.about__logo {
    display: flex;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color: #000000;
    align-items: center;
/* эти отступы двигают логотип, а не кружок, как я ожидала
    padding-top: 15px;
    padding-left: 47px;
/* это не работает*/
    
}

/* логотип не размещается по центру кружка*/
.about__logo-image {
    width: 141.54px;
    height: 112.55px;
    margin: auto;
/* это не работает, в итоге регулирую падддингами из about.logo*/
    justify-content: center;
    align-items: center;
}

.about__title {
    font-family: Raleway;
    font-size: 40px;
    font-weight: 700;
    line-height: 46.96px;
    text-align: left;
    text-transform: uppercase;
    padding-top: 103px;
    margin-bottom: 76px;
}

.about__text {
    padding-top: 24px;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-align: left;
}

.footer {
    display: grid;
    grid-template-columns: 455px 148px 147px 250px;
    height: 98px;
    width: 1000px;
    margin-top: 185px;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 85px;
}
/*
.footer__menu {

}
*/
.footer__menu-list {
    display: flex;
    flex-direction: column;
    gap: 2px;
    text-align: center;
}

.footer__menu-list-item {
    list-style: none;
}

.footer__menu-link {
    text-decoration: underline;
}

.footer__menu-link_active {
    text-decoration: none;
}

/*Автотесты показывают неправильное выравнивание*/
.footer__social-list {
    display: flex;
    gap: 48px;
    justify-self: end;
}

.footer__social-list-item {
    list-style: none;
}
/*
.footer__social-link {

}
*/
.footer__social-icon {
    width: 48px;
    height: 48px;
}